@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Products submitted for type approval";
}

<div>Products submitted for type approval</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(q => q.UserName)</th>
            <th>@Html.DisplayNameFor(q => q.Id)</th>
            <th>@Html.DisplayNameFor(q => q.Name)</th>
            <th>@Html.DisplayNameFor(q => q.Model)</th>
            <th>@Html.DisplayNameFor(q => q.Manufacturer)</th>
            <th>@Html.DisplayNameFor(q => q.Status)</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.UserName</td>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Model</td>
                <td>@product.Manufacturer</td>
                <td>@product.Status</td>
                <td>@Html.ActionLink("View", "ViewSubmittedProduct", "Admin")</td>
                <td>@Html.ActionLink("Delete", "DeleteProduct", "Admin")</td>                
                <td>@Html.ActionLink("Confirm and go ahead", "AcceptProduct", "Admin")</td>
                <td>@Html.ActionLink("Edit", "EditProduct", "Admin")</td>
            </tr>
        }
    </tbody>
</table>
}
@*
 if (ViewBag.ShowApplyChanges == true)
    {
        <button type="submit" name="action" value="submitEditedTechnicalInfo">Apply changes</button>
    }
    else
    {
        <button type="submit" name="action" value="goToNextPage">Next</button>
    }*@
@*
<div>Edit general product info</div>
@Html.ActionLink("Edit", "GeneralProductInfo", new {productId = @Model.Id})
*@
@*<hr />

<div>Edit technical product info</div>
@Html.ActionLink("Edit", "TechnicalProductInfo", new {productId = @Model.Id})
<hr />

<h5>Edit additional product info</h5>

@Html.ActionLink("Edit", "ExtraProductInfo", new {productId = @Model.Id})*@

