@model ProductViewModel

<h5>Product info of @Model.Id</h5>

@*@Html.HiddenFor(q => q.Id)*@

@{
    var comments = ViewBag.Comments as List<CommentViewModelResponse>;
}
<br />

<p>Comments left for the product No. @Model.Id</p>
<ul>
    @foreach (var comment in comments)
    {
        <li>
            <div>@comment.Text</div>
            @comment.UserEmail
            @comment.CreatedDate
        </li>
    }
</ul>

@Html.ActionLink("Add a comment", "CreateAComment", "Comment", new { productId = @Model.Id, isAdmin = true })

<div>
    <b>@Html.DisplayNameFor(q => q.Name)</b>
    @Html.DisplayTextFor(q => q.Name)
</div>

<div>
    <b>@Html.DisplayNameFor(q => q.Model)</b>
    @Html.DisplayTextFor(q => q.Model)
</div>

<div>
    <b>@Html.DisplayNameFor(q => q.Brand)</b>
    @Html.DisplayTextFor(q => q.Brand)
</div>

<div>
    <b>@Html.DisplayNameFor(q => q.Manufacturer)</b>
    @Html.DisplayTextFor(q => q.Manufacturer)
</div>

<hr />

<h5>Technical product info</h5>

<div>
    <b>@Html.DisplayNameFor(q => q.OutputPower)</b>
    @Html.DisplayTextFor(q => q.OutputPower)
</div>

@for (int i = 0; i < Model.Frequencies.Count; i++)
{
    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(q => @Model.Frequencies[i].StartRange)
            @Html.DisplayTextFor(q => @Model.Frequencies[i].StartRange)
        </div>

        <div class="col">
            @Html.DisplayNameFor(q => @Model.Frequencies[i].EndRange)
            @Html.DisplayTextFor(q => @Model.Frequencies[i].EndRange)
        </div>

        <div class="col">
            <b>@Html.DisplayNameFor(q => @Model.Frequencies[i].FrequencyUnit)</b>
            @Html.DisplayTextFor(q => @Model.Frequencies[i].FrequencyUnit)
        </div>
    </div>
}

<div class="row">
    <div class="col">
        <b>@Html.DisplayNameFor(q => @Model.AntennaGain.Amount)</b>
        @Html.DisplayTextFor(q => @Model.AntennaGain.Amount)
    </div>

    <div class="col">
        <b>@Html.DisplayNameFor(q => @Model.AntennaGain.AntennaGainUnit)</b>
        @Html.DisplayTextFor(q => @Model.AntennaGain.AntennaGainUnit)
    </div>
</div>

<hr />

<h5>Additional product info</h5>

<div>
    <b>@Html.DisplayNameFor(q => q.OtherInformation)</b>
    @Html.DisplayTextFor(q => q.OtherInformation)
</div>

<div>
    <b>@Html.DisplayNameFor(q => q.PathToFile)</b>
    @Html.DisplayTextFor(q => q.PathToFile)
</div>
<hr />

@Html.ActionLink("Go back", "GetSubmittedProductsAndUsers", "Admin")
@Html.ActionLink("Delete", "DeleteProduct", "Admin", new {productId = @Model.Id})
@Html.ActionLink("Confirm and go ahead", "AcceptProduct", "Admin", new {productId = @Model.Id})
@Html.ActionLink("Edit", "EditProduct", "Admin", new {productId = @Model.Id})

@*//form for leaving comments*@
@*@using (Html.)*@
@*text area*@*