@model ExtraProductViewModel

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(q => q.ProductId)

    <div>
        @Html.LabelFor(q => q.OtherInformation): 
        @Html.TextBoxFor(q => q.OtherInformation)
        @Html.ValidationMessageFor(q => q.OtherInformation)
    </div>

    <div>
        @Html.LabelFor(q => q.PathToFile): 
        @Html.TextBoxFor(q => q.PathToFile)
        @Html.ValidationMessageFor(q => q.PathToFile)
    </div>


    if (ViewBag.ShowApplyChanges == true)
    {
        <button type="submit" class="btn btn-outline-success" name="action" value="submitEditedExtraInfo">Apply changes</button>
    // ==  <button type="submit" class="btn-outline-success"?
    }
    else
    {
        <button>Verify product information</button>
    }
}