@model GenProductViewModel

<h1 class="display-6 text-bg-primary align-content-md-center text-lg-center text-lg mb-5">General information</h1>
<p class="lead mark mb-3 text-dark">Please indicate general information of product</p>
<hr />
@using (Html.BeginForm(FormMethod.Post, new { @class = "form-group" }))
{
    @Html.HiddenFor(q => q.ProductId)
    <div class="form-text text-muted col-lg">@Html.ValidationSummary(false)</div>

    <div>
        @Html.LabelFor(q => q.Name, new {@class="col-form-label col-sm-4"})
        <div class="form-floating">
            @Html.TextBoxFor(q => q.Name, new {@class="form-control col-sm-4"})
            <label for="Name">Please insert product name</label>
        </div>
        @*@Html.ValidationMessageFor(q => q.Name, null, new {@class = "form-text text-muted"})*@
    </div>

    <div>
        @Html.LabelFor(q => q.Brand, new {@class="col-form-label col-sm-4"})
        <div class="form-floating">
            @Html.TextBoxFor(q => q.Brand, new {@class="form-control col-sm-4"})
            <label for="Brand">Please insert trademark/brand</label>
            @*@Html.ValidationMessageFor(q => q.Brand, "Please insert brand of product", new {@class = "form-text text-muted"}) *@
        </div>
    </div>

    <div>
        @Html.LabelFor(q => q.Model, new {@class="col-form-label col-sm-4"})
        <div class="form-floating">
            @Html.TextBoxFor(q => q.Model, new {@class="form-control col-sm-4"})
            <label for="Model">Please insert model</label>
            @*@Html.ValidationMessageFor(q => q.Model, "Please insert model of product", new {@class = "form-text text-muted"})*@
        </div>
    </div>

    <div>
        @Html.LabelFor(q => q.Manufacturer, new {@class="col-form-label col-sm-4"})
        <div class="form-floating">
            @Html.TextBoxFor(q => q.Manufacturer, new {@class="form-control col-sm-4"})
            <label for="Manuacturer">Please insert  manufacturer</label>
            @*            @Html.ValidationMessageFor(q => q.Manufacturer, "Please insert manufacturer of product", new {@class = "form-text text-muted"})
        *@
        </div>
    </div>

    if (@ViewBag.ShowApplyChanges == true)
    {
        <button class="btn btn-primary mt-2 w-25" type="submit" name="action" value="submitEditedInfo">Apply changes</button>
    }

    else
    {
        <button type="submit" class="btn btn-outline-success w-25 mt-2">Next</button>
    }

    @Html.ActionLink("Save for later submission", "GetSubmittedProducts", "Product", null, new {@class = "btn btn-outline-warning w-25 mt-2"})
}

