@model GenProductViewModel


@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(q => q.ProductId)

    <div>
        @Html.LabelFor(q => q.Name)
        @Html.TextBoxFor(q => q.Name)
    </div>

    <div>
        @Html.LabelFor(q => q.Brand)
        @Html.TextBoxFor(q => q.Brand)
    </div>

    <div>
        @Html.LabelFor(q => q.Model)
        @Html.TextBoxFor(q => q.Model)
    </div>

    <div>
        @Html.LabelFor(q => q.Manufacturer)
        @Html.TextBoxFor(q => q.Manufacturer)
    </div>

    if(@Model?.ProductId != null)
    {
        <button type="submit" name="action" value="submitEditedInfo">Apply changes</button>        
    }
    <button>Next</button>
}
