@model GenProductViewModel


@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(q => q.ProductId)
    @Html.ValidationSummary(false)

    <div>
        @Html.LabelFor(q => q.Name): 
        @Html.EditorFor(q => q.Name)
        @Html.ValidationMessageFor(q => q.Name)
    </div>

@*    <div class="editor-field">
        @Html.EditorFor(q => q.Name)
        @Html.ValidationMessageFor(q => q.Name)
    </div>*@

    <div>
        @Html.LabelFor(q => q.Brand): 
        @*@Html.TextBoxFor(q => q.Brand)*@
        @Html.EditorFor(q => q.Brand)
        @Html.ValidationMessageFor(q => q.Brand)
    </div>

    <div>
        @Html.LabelFor(q => q.Model): 
        @Html.EditorFor(q => q.Model)
        @Html.ValidationMessageFor(q => q.Model)
    </div>

    <div>
        @Html.LabelFor(q => q.Manufacturer): 
         @Html.EditorFor(q => q.Manufacturer)
        @Html.ValidationMessageFor(q => q.Manufacturer)
    </div>



    if (@ViewBag.ShowApplyChanges == true)
    {
        <button class = "btn btn-primary" type="submit" name="action" value="submitEditedInfo">Apply changes</button>
    }

    else
    {
        <button type="submit" class ="btn btn-outline-success">Next</button>
@*        <button>Next</button>*@
    }
}
