@using ApplicationPortal.Enums

@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "My products";
}

@TempData["cancelProduct"]
@TempData["submitProduct"]
@TempData["saveProduct"]

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(q => q.Id)</th>
            <th>@Html.DisplayNameFor(q => q.Name)</th>
            <th>@Html.DisplayNameFor(q => q.Model)</th>
            <th>@Html.DisplayNameFor(q => q.Manufacturer)</th>
            <th>@Html.DisplayNameFor(q => q.Status)</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Model</td>
                <td>@product.Manufacturer</td>
                <td>@product.Status</td>
                <td>@Html.ActionLink("View", "ViewApplicationNotSubmitted", "Product", new {productId = product.Id}, new {@class = "btn btn-outline-primary"})</td>
                <td>@if (product.Status < ProductStatus.FinallySubmitted)
                    {
                        @Html.ActionLink("Cancel", "CancelNotSubmittedApplication", "Product", new {productId = product.Id}, new {@class = "btn btn-danger btn .text-nowrap"})
                    }
                </td>                
                <td>@if(product.Status < ProductStatus.FinallySubmitted)
                    {
                        @Html.ActionLink("Submit", "SubmitSavedProduct", "Product", new { productId = product.Id }, new {@class="btn btn-success"})
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Submit a new product", "GetUserAndCompanyInfo", "Product", @Model, new {@class = "btn btn-success"})