@using ApplicationPortal.Enums

@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "My products";
}

@if (@TempData["submitFailed"] != null)
{
    <div class="toast fade show" id="test-toast" data-bs-autohide="true" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1000">
        <div class="toast-header">
            <strong class="me-auto">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <div class="alert alert-danger" role="alert">
                <span><i>@TempData["submitFailed"]</i></span>
            </div>
        </div>
    </div>
}

@if (@TempData["saveProduct"] != null)
{
    <div class="toast fade show" id="test-toast" data-bs-autohide="true" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1000">
        <div class="toast-header">
            <strong class="me-auto">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <div class="alert alert-success" role="alert">
                <span><i>@TempData["saveProduct"]</i></span>
            </div>
        </div>
    </div>
}

@if(@TempData["cancelProduct"] != null)
{ 
<div class="toast fade show" id="test-toast" data-bs-autohide="true" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1000">
        <div class="toast-header">
            <strong class="me-auto">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <div class="alert alert-success" role="alert">
                <span><i>@TempData["cancelProduct"]</i></span>
            </div>
        </div>
    </div>
}

@if(@TempData["submitProduct"] != null)
{
    <div class="toast fade show" id="test-toast" data-bs-autohide="true" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1000">
        <div class="toast-header">
            <strong class="me-auto">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <div class="alert alert-success" role="alert">
                <span><i>@TempData["submitProduct"]</i></span>
            </div>
        </div>
    </div>
}

<h1 class="display-6 text-bg-primary align-content-md-center text-lg-center text-lg mb-5">My products</h1>

<p class="lead text-dark mark">Here you can view/submit/delete products submitted/not submitted and their actual status.</p>

<table class="table table-striped">
    <thead class="table-primary">
        <tr class="text-center">
            <th>@Html.DisplayNameFor(q => q.Id)</th>
            <th>@Html.DisplayNameFor(q => q.Name)</th>
            <th>@Html.DisplayNameFor(q => q.Model)</th>
            <th>@Html.DisplayNameFor(q => q.Manufacturer)</th>
            <th>@Html.DisplayNameFor(q => q.Status)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr class="text-center list-group-item-action">
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Model</td>
                <td>@product.Manufacturer</td>
                <td>@product.Status</td>
                <td>@Html.ActionLink("View", "ViewApplicationNotSubmitted", "Product", new {productId = product.Id}, new {@class = "btn btn-outline-primary"})</td>
                <td>
                    @if (product.Status < ProductStatus.FinallySubmitted)
                    {
                        @Html.ActionLink("Cancel", "CancelNotSubmittedApplication", "Product", new {productId = product.Id}, new {@class = "btn btn-danger btn .text-nowrap"})
                    }
                </td>
                <td>
                    @if (product.Status < ProductStatus.FinallySubmitted)
                    {
                        @Html.ActionLink("Submit", "SubmitSavedProduct", "Product", new { productId = product.Id }, new {@class="btn btn-success"})
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div><i>If you have another product for approval, please submit a new product.</i></div>

<div>
    @Html.ActionLink("Submit a new product", "GetUserAndCompanyInfo", "Product", null, new {@class = "btn btn-primary mt-4"})
</div>

<script type="text/javascript">
    let toastElList = [].slice.call(document.querySelectorAll('.toast'))
    let toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl, option)
    });
</script>