@model IEnumerable<ProductViewModel>


@{
    ViewBag.Title = "My products";
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(q => q.Id)</th>
            <th>@Html.DisplayNameFor(q => q.Name)</th>
            <th>@Html.DisplayNameFor(q => q.Model)</th>
            <th>@Html.DisplayNameFor(q => q.Manufacturer)</th>
            <th>@Html.DisplayNameFor(q => q.Status)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Model</td>
                <td>@product.Manufacturer</td>
                <td>@product.Status</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Submit a new product", "GetUserAndCompanyInfo")