@model UserCompaniesViewModel

<h5 class="display-6 text-bg-success align-content-md-center text-lg-center text-lg mb-5">Registration of a new product</h5>
<p class="lead mark mb-4 text-dark">Please confirm your credentials:</p>

@using (@Html.BeginForm("VerifyUserAndGoNext", "Product", FormMethod.Post, new { @class = "form-group-row" }))
{
    <div class="row">
        <div class="mb-2">
            <b>@Html.DisplayNameFor(q => q.UserEmail)</b>
            <input class="form-control col-form-label col-sm-4" type="text" placeholder="@Model.UserEmail" readonly>
        </div>

        <div class="mb-2">
            <b>@Html.DisplayNameFor(q => q.CompanyName)</b>
            <input class="form-control col-form-label col-sm-4" type="text" placeholder="@Model.CompanyName" readonly>
        </div>

        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary mt-3 col-sm-12">Next</button>
        </div>
    </div>
}

<div class="mt-2 text-lg-end align-content-md-end">
    @Html.ActionLink("Edit user information", "EditUserProfile", "User", @Model.UserEmail, new {@class ="btn btn-outline-warning mt-2"})
</div>
