@model UserCompaniesViewModel

@using (@Html.BeginForm("VerifyUserAndGoNext", "Product", FormMethod.Post))
{
    <div>Please confirm user information:</div>

    <div>
        <b>@Html.DisplayNameFor(q => q.UserEmail): </b> 
        @Model.UserEmail
    </div>

    <div>
        <b>@Html.DisplayNameFor(q => q.CompanyName): </b> 
        @Model.CompanyName
    </div>

    <button type="submit" class ="btn btn-outline-success">Next</button>
    @*<button>Next</button>*@
}