@model ProductViewModel

@using (@Html.BeginForm("PostVerifiedProduct", "Product", new { productId = Model.Id }, FormMethod.Post))
{
    //@Html.HiddenFor(q => q.Id)

    <div>
        @Html.DisplayNameFor(q => q.Name)
        @Html.DisplayTextFor(q => q.Name)
    </div>

    <div>
        @Html.DisplayNameFor(q => q.Model)
        @Html.DisplayTextFor(q => q.Model)
    </div>

    <div>
        @Html.DisplayNameFor(q => q.Brand)
        @Html.DisplayTextFor(q => q.Brand)
    </div>

    <div>
        @Html.DisplayNameFor(q => q.Manufacturer)
        @Html.DisplayTextFor(q => q.Manufacturer)
    </div>

    <div>
        @Html.DisplayNameFor(q => q.OutputPower)
        @Html.DisplayTextFor(q => q.OutputPower)
    </div>

    <div>
        @Html.DisplayNameFor(q => q.OtherInformation)
        @Html.DisplayTextFor(q => q.OtherInformation)
    </div>

    <div>
        @Html.DisplayNameFor(q => q.PathToFile)
        @Html.DisplayTextFor(q => q.PathToFile)
    </div>

    //<button>Submit</button>
    <button type="submit" name="action" value="getSubmittedProducts">Submit</button>
    <button type="submit" name="action" value="cancelProduct">Cancel</button>
    <button type="submit" name="action" value="editProduct">Edit</button>
    <button type="submit" name="action" value="saveProduct">Save as a draft</button>
}
