@model CompanyViewModel

<h1 class="display-6 text-bg-primary align-content-md-center text-lg-center text-lg mb-5">Editing of company # @Model.CompanyId</h1>
<p class="lead mark mb-3 text-dark">Please edit company if necessary</p>
<hr />

@using (@Html.BeginForm("EditCompany", "Company", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.HiddenFor(q => q.CompanyId)
    <div class="form-text text-muted col-lg">@Html.ValidationSummary(false)</div>

    <div>
        @Html.LabelFor(q => q.CompanyName, new {@class="col-form-label col-sm-4"})
        <div class="form-floating">
            @Html.TextBoxFor(q => q.CompanyName, new {@class="form-control col-sm-4"})
            <label for="CompanyName">Registered company name</label>
        </div>
    </div>

    <div>
        @Html.LabelFor(q => q.Address, new {@class="col-form-label col-sm-4"})
        <div class="form-floating">
            @Html.TextBoxFor(q => q.Address, new {@class="form-control col-sm-4"})
            <label for="Address">Registered address</label>
        </div>
    </div>

    <div>
        @Html.LabelFor(q => q.BusinessId, new {@class="col-form-label col-sm-4"})
        <div class="form-floating">
            @Html.TextBoxFor(q => q.BusinessId, new {@class="form-control col-sm-4"})
            <label for="BusinessId">Company registration no.</label>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-2">
        <button type="submit" class="btn btn-primary w-25">Apply changes</button>

        @Html.ActionLink("Back to companies", "GetAvailableCompanies", "Company", null, new {@class = "btn btn-outline-warning w-25"})
    </div>
}
