@model IEnumerable<CompanyViewModel>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(q => q.CompanyId)</th>
            <th>@Html.DisplayNameFor(q => q.CompanyName)</th>
            <th>@Html.DisplayNameFor(q => q.Address)</th>
            <th>@Html.DisplayNameFor(q => q.BusinessId)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.CompanyId</td>
                <td>@company.CompanyName</td>
                <td>@company.Address</td>
                <td>@company.BusinessId</td>                            
                <td>@Html.ActionLink("View", "ViewCompanyPerId", "Company", new {companyId = company.CompanyId})</td>
                <td>@Html.ActionLink("Delete", "DeleteCompany", "Company", new {companyId = company.CompanyId})</td>                
                <td>@Html.ActionLink("Edit", "EditCompany", "Company", new {companyId = company.CompanyId})</td>
            </tr>
        }
    </tbody>
    <thead />
</table>

@Html.ActionLink("Add a new company", "CreateCompany")